# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# IDEA files
/.idea/
/out/
/*.iml

# Storage/log files
/data/
/config.json
/preferences.json
/*.log.*
/addressbook.log.0
/addressbook.log.0.1

# Test sandbox files
src/test/data/sandbox/

# MacOS custom attributes files created by Finder
.DS_Store
docs/_site/


src/main/data/addressbook.json
src/main/config.json
src/main/preferences.json
src/main/addressbook.log.0
src/main/addressbook.log.0.lck
src/main/addressbook.log.0.1
src/main/addressbook.log.0.1.lck
src/main/wordbank.log.0
src/main/data/wordbank.json
